*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: rgb(73, 73, 73);
    display: flex;
    flex-direction: column;
}

.cartes{
display: flex;
justify-content: center;
flex-wrap: wrap;
}

div{
    display: flex;
    justify-content: center;
}

h2:hover{
    color: rgb(225, 225, 225);
}

h3{
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img{
    width: 200px;
    height: 380px;
    border: 2px solid;
    border-radius: 7px;
    border-color: black;
}

img:hover{
    width: 210px;
    height: 390px;
    border: 3px solid;
    border-radius: 7px;
    border-color: aliceblue;
}

a{
    text-decoration: none;
    color: aliceblue;
}

header{
    background-color: rgb(81, 81, 81);
}

.navi{
    display: flex;
    flex-wrap: wrap;
}

li{
    list-style: none;
    margin: 10px;
}

.connexion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid;
    border-radius: 50px;
    width: 500px;
    height: 500px;
    background-color: rgb(90, 90, 90);
    margin-top: 20px ;
}

input{
    height: 20px;
    width: 300px;
    border-radius: 4px;
    margin: 10px;
    padding: 2px;
}

.inscrire:hover{
    text-decoration: underline;
}

button{
    margin: 10px;
    width: 100px;
    height: 50px;
    color: aliceblue;
    background-color: rgb(43, 43, 43);
    border-radius: 5px;
}

footer{
    background-color: rgb(90, 90, 90);
    margin-top: 100%;
}

p{
    margin: 10px;
    color: aliceblue;
}
/*
footer{
    background-color: rgb(81, 81, 81);
    height: 20px;
}
*/